/**
 * All CSS needed for the milonava player.
 */

body {
  background-color: #111;
  margin: 0;
}

body, button, option {
  color: #efefef;
  letter-spacing: 1px;
}

button {
  background-color: #000;
  border: 2px #666 outset;
  outline: 0;
}

/* Default player/controls */

.video-player {
  position: relative;
}

.video-player .video-player-control {
  background: rgba(0, 0, 0, 0.7);
  border: 2px #666 solid;
  /* initially hidden */
  display: none;
  font-size: 2em;
  height: 100px;
  margin: 20% 8px 0 8px;
  position: absolute;
  top: 0;
  width: 100px;
}

.video-player:hover .video-player-control {
  display: block;
}

.video-player .video-player-control:hover {
  background: rgba(0, 0, 0, 0.9);
}

.video-status {
  /* TODO: Hide until moved into playlist controls. */
  display: none;
  text-align: center;
}

/* show when hovering */
.video-player:hover > .video-player-controls {
  display: block;
}

.video-player-control-next {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  right: 0;
}

.video-player-control-previous {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  left: 0;
}

/* Specific players */

.google-drive-player {
  width: 100%;
}

video.html5-player {
  width: 100%;
}

/* Playlist editing */

/* TODO: find a good place for this button. Ugly CSS for now. */
.playlist-editor-open {
  float: right;
  margin: 20px 8px;
}

.playlist-editor-popup {
  background-color: rgba(0,0,0,0.8);
  left: 100px;
  padding: 20px;
  position: absolute;
  right: 100px;
  top: 100px;
}

.playlist-editor-popup h3 {
  text-align: center;
}

.playlist-view {
  margin: auto; /* TODO: keep until other things are in the popup. */
  max-height: 200px;
  overflow-y: auto;
  width: 350px;
}

.playlist-view-round {
  border: 1px #666 dashed;
  margin: 4px;
  overflow: hidden;
  padding: 4px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.playlist-view-round:hover {
  white-space: normal;
}

.playlist-view-round-current {
  font-weight: bold;
}

.playlist-view-round-current:before {
  content: "\00BB ";
}
