<link rel="stylesheet" type="text/css" href="/static/player.css"></link>
<div id="player"></div>
<script>
vr.VideoRandomizer.initialize(document.getElementById('player'), '/static/db.xml');
</script>
